<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="socialstudent.eurecom.fr.socialstudent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserProfilDetailsActivity"></activity>
        <activity android:name=".ParticipantsShowActivity" />
        <activity android:name=".Edit" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAs4RArm8FOB8VwafAFD4UIsW0NVVrRm0U" />

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddEventActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileEdit"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ShowEvent"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DirectoryActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>